<div ng-controller="principalController">
    <button ng-click="graficoCurrentCensus()">Current Census</button>
    <button ng-click="totalNewclients()">Total New Clients & Readmit clients</button>
    <button ng-click="graficoColunm()">Step Down Count</button>
    <button ng-click="graficoTotalDetoxAmas()">Total Detox AMAs</button>
    <button ng-click="graficoTotalDetoxAmasPercent()">Total Detox AMAs Percent</button>
    <button ng-click="graficoTotalDetoxAmasTreatment()">Total Detox Clients & Treatment Clients</button>
    <button ng-click="graficoCampaignStepDown()">Campaign Step Downs</button>
    <button ng-click="graficoCampaignStepDownPercent()">Campaign Step Down Percent</button>
    <button ng-click="amasByCaseManage()">AMAs by Case Manage</button>
    <button ng-click="amasByCaseManagePercent()">% AMAs by Case Manage</button>
    <button ng-click="graficoStepDownByCm()">Step Down By CM</button>
</div>