<div ng-controller="principalController">

    <button ng-click="graficoBar()">Total New Clients & Readmit clients</button>
    <button ng-click="totalNewclients()">Total New Clients & Readmit clients</button>
    <button ng-click="graficoColunm()">Step Down Count</button>
    <button ng-click="graficoCurrentCensus()">Current Census</button>
    <button ng-click="graficoTotalDetoxAmas()">Total Detox AMAs</button>
    <button ng-click="graficoTotalDetoxAmasPercent()">Total Detox AMAs Percent</button>
    <button ng-click="graficoTotalDetoxAmasTreatment()">Total Detox AMAs Percent</button>
</div>